$green: #1be4a1;
$white: #fffafa;
$gray-very-light: #cccccc;
$gray-light: #e1e5ea;
$gray-medium: #a7bbc7;
$red: #fd5068;
$black: #27333e;
$orange: #fb9744;

$text-color-dark: $black;

$image-border-radius: 10px;

$basic-transition: all 0.3s cubic-bezier(0.44, 0.79, 1, 0.59);

/* Media query */

$lg: 1023px;
$md: 991px;
$xs: 749px;
$xxs: 600px;
$xxxs: 400px;

body {
  .text-xxs {
    font-size: 11px;
  }
  .text-xs {
    font-size: 12px;
  }
  .text-h6 {
    font-size: 14px;
  }

  .text-h1 {
    font-size: 65px !important;
  }

  .heading-line,
  .text-h2 {
    @media (max-width: $xs) {
      font-size: calc(1.475rem + 2.7vw) !important;
    }
  }

  .btn {
    font-size: 16px;
    line-height: 1;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .text-center-mobile {
    @media (max-width: $xs) {
      display: block;
      text-align: center;
    }
  }
  .text-center-mobile .heading-line:after {
    @media (max-width: $xs) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
