$green: #1be4a1;
$white: #fffafa;
$gray-light: #e1e5ea;
$gray-medium: #a7bbc7;
$red: #fd5068;

$image-border-radius: 10px;

$basic-transition: all 0.3s cubic-bezier(0.44, 0.79, 1, 0.59);

body {
  .text-h6 {
    font-size: 14px;
  }

  .text-h1 {
    font-size: 65px !important;
  }

  .btn {
    font-size: 16px;
    line-height: 1;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
