.EmailSignup {
  iframe {
    width: 100%;
    min-height: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .form-wrapper {
    width: 100%;
  }

  .section-heading {
    margin-bottom: 20px;
  }

  #mc_embed_signup [name="EMAIL"] {
    margin-bottom: 10px;
  }
}
