@import "./variables.scss";

.faq {
  .container {
    @media (min-width: $md) {
      padding-top: 0;
    }
  }

  .faq-item .card-header {
    cursor: pointer;
  }

  &::before {
    @media (max-width: $xs) {
      z-index: 0 !important;
      top: -165px !important;
      transform: scale(2) rotate(31deg);
    }
  }
}
